<link rel="stylesheet" href="styles/sidebar.css">

<div class="sidebar">
    <div class="sidebar-content">
        <h2>Quantity</h2>
        <%- include('input') %>
    </div>

    <div class="obj obj1">
        OBJ1
    </div>
</div>