<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="styles/global.css">

    <title><%= title %></title>
</head>
<body>
    <!-- SIDEBAR -->
    <%- include('components/sidebar') %>

    <main>
      <!-- LIST -->
      <section id="item-section">
        <ul id="item-list">
          
        </ul>
      </section>
    </main>

    <div class="obj obj2">
      OBJ3
    </div>
    
    <script src="index.js"></script>
</body>
</html>